Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
exampleProgram/.libs
exampleProgram/Makefile.in
exampleProgram/exampleProgram
exampleProgram/exampleProgram-exampleProgram.o
include/Makefile.in
install-sh
libdigitizersim/.libs
libdigitizersim/Makefile.in
libdigitizersim/libdigitizersim.la
libdigitizersim/libdigitizersim_la-libdigitizersim.lo
libdigitizersim/libdigitizersim_la-libdigitizersim.o
ltmain.sh
Makefile
config.log
config.status
exampleProgram/.deps
exampleProgram/Makefile
include/Makefile
libdigitizersim/.deps
libdigitizersim/Makefile
libtool
